<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<header>
    <section class="head-section">
        <h1 id="title">My Blog</h1>
        <nav id="nav">
            <a href="#" class="title-nav" id="n0">Make Money</a> 
            <a href="#" class="title-nav" id="n1">Blog</a> 
            <a href="#" class="title-nav" id="n2">About Author</a> 
            <a href="#" class="title-nav" id="n3">Work with me</a>
        </nav>
    </section>
</header>
<main>
</html>