<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=v, initial-scale=1.0">
    <title>API</title>
</head>
<body>
    <div>
        <form method="get">
            <input type="text">
            <input type="submit" action="/randomJoke" >
            <input type="submit" action="/specificJoke" >
            <input type="submit" action="/filterJoke" >
            <input type="submit" action="/newJoke" >
            <input type="submit" action="/putJoke" >
            <input type="submit" action="patchJoke" >
            <input type="submit" action="/deleteSpecificjoke" >
            <input type="submit" action="DeleteAllJokes" >
        </form>
    </div>
</body>
</html>