</main>

<footer>
  <!-- Step 4 - Add a dynamic year to the footer using JS. -->
  <% var currentDate = new Date(); %>
  <% var year = currentDate.getFullYear(); %>
  <p>Copyright © <%= year %> </p>
</footer>
</body>

</html>