<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price Tracker</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1 id="header">Cryptocurrency Price Checker</h1>

    <div id="form">
        <form id="myForm" method="post">
            <input type="text" name="crypto" value="BTC" id="crypto" style="text-transform:uppercase" /> -
            <input type="text" name="currency" value="USD" id="currency" style="text-transform:uppercase" />
            <br />
            <input type="submit" name="submit" value="Submit" id="button" formaction="get-price" />
        </form>
        <div id="chart">
            <p> <%= data.symbol %> </p>
            <p>Price (24hr): <%= data.price_24h %> </p>
            <p>Volume (24hr): <%= data.volume_24h %> </p>
            <p>Last Trade Price: <%= data.last_trade_price%> </p>
        </div> 
    </div>
    
</body>
</html>